# Dependencies
node_modules/

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Git 
.git/
.github/

# Development specifics
install-pact.sh
tests/
